<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>login.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalDownloadController</servlet-name>
        <servlet-class>proposal.ProposalDownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExaminerAssignController</servlet-name>
        <servlet-class>examiner.ExaminerAssignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ww</servlet-name>
        <servlet-class>announcement.ww</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementViewController</servlet-name>
        <servlet-class>announcement.AnnouncementViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>announcement.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>announcement.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementSelectController</servlet-name>
        <servlet-class>announcement.AnnouncementSelectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentSelectController</servlet-name>
        <servlet-class>appointment.AppointmentSelectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementDeleteController</servlet-name>
        <servlet-class>announcement.AnnouncementDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementUpdateController</servlet-name>
        <servlet-class>announcement.AnnouncementUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementAddController</servlet-name>
        <servlet-class>announcement.AnnouncementAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalHardcopyController</servlet-name>
        <servlet-class>proposal.ProposalHardcopyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentAddController</servlet-name>
        <servlet-class>appointment.AppointmentAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentViewController</servlet-name>
        <servlet-class>appointment.AppointmentViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aa</servlet-name>
        <servlet-class>examiner.aa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExaminerUpdateController</servlet-name>
        <servlet-class>examiner.ExaminerUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementController</servlet-name>
        <servlet-class>announcement.AnnouncementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServletx</servlet-name>
        <servlet-class>announcement.NewServletx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluationAddController</servlet-name>
        <servlet-class>evaluation.EvaluationAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentViewStd</servlet-name>
        <servlet-class>appointment.AppointmentViewStd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentViewSupv</servlet-name>
        <servlet-class>appointment.AppointmentViewSupv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>login.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProposalSoftcopyController</servlet-name>
        <servlet-class>proposal.ProposalSoftcopyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProposalSoftcopyController</servlet-name>
        <url-pattern>/ProposalSoftcopyController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProposalApprovalController</servlet-name>
        <servlet-class>proposal.ProposalApprovalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProposalApprovalController</servlet-name>
        <url-pattern>/ProposalApprovalController</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>C:\Users\nadia\Desktop\PDMS_2_1\PDMS_2\files\</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ProposalDownloadController</servlet-name>
        <url-pattern>/ProposalDownloadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExaminerAssignController</servlet-name>
        <url-pattern>/ExaminerAssignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ww</servlet-name>
        <url-pattern>/ww</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementViewController</servlet-name>
        <url-pattern>/AnnouncementViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementSelectController</servlet-name>
        <url-pattern>/AnnouncementSelectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentSelectController</servlet-name>
        <url-pattern>/AppointmentSelectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementDeleteController</servlet-name>
        <url-pattern>/AnnouncementDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementUpdateController</servlet-name>
        <url-pattern>/AnnouncementUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementAddController</servlet-name>
        <url-pattern>/AnnouncementAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalHardcopyController</servlet-name>
        <url-pattern>/ProposalHardcopyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentAddController</servlet-name>
        <url-pattern>/AppointmentAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentViewController</servlet-name>
        <url-pattern>/AppointmentViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aa</servlet-name>
        <url-pattern>/aa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExaminerUpdateController</servlet-name>
        <url-pattern>/ExaminerUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementController</servlet-name>
        <url-pattern>/AnnouncementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServletx</servlet-name>
        <url-pattern>/NewServletx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluationController</servlet-name>
        <url-pattern>/EvaluationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EvaluationController</servlet-name>
        <servlet-class>evaluation.EvaluationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvaluationAddController</servlet-name>
        <url-pattern>/EvaluationAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentViewStd</servlet-name>
        <url-pattern>/AppointmentViewStd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentViewSupv</servlet-name>
        <url-pattern>/AppointmentViewSupv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
